<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
  <div class="main">


    <% @lattes.each do |latte| %>

    <h1><%= latte.name %></h1><br>

    <h3><%= latte.flavor %></h3>
    <h3><%= latte.size %></h3>
    <h3><%= latte.description %><h3>


    <a href="/lattes/<%=latte.id%>/edit">Edit Latte</a><br>

      <% end %>

  </body>
</html>
